﻿@model dpc.Web.ViewModel.ProgramApprovalViewModel

@{
	ViewBag.Title = "Approvals";
}

<h3>@ViewBag.Title for Program: @Html.DisplayFor(model => model.ProgramHeader.ProgramHeaderId) (@Html.DisplayFor(model => model.ProgramHeader.Status))</h3>
<hr />

@Html.AntiForgeryToken()

<style>
	fieldset.approver-border {
		border: 1px groove #ddd !important;
		padding: 0 1.4em 1.4em 1.4em !important;
		margin: 0 0 1.5em 0 !important;
		-webkit-box-shadow: 0px 0px 0px 0px #000;
		box-shadow: 0px 0px 0px 0px #000;
	}

	legend.approver-border {
		width: inherit; /* Or auto */
		padding: 0 10px; /* To give a bit of padding on the left and right */
		border-bottom: none;
		font-size: 1em;
	}
</style>

<div>
	@if (Model != null)
	{

		foreach (var approver in Model.ApproverList)
		{
			var approvedFlag = "";
			var commentOn = String.Empty;

			{ Model.ProgramApprovalId = @approver.ProgramApprovalId; }

			if (@approver.Approved == true)
			{
				approvedFlag = "true";
			}
			else if (@approver.Approved == false)
			{
				approvedFlag = "false";
			}

			if (@approver.CommentOn != null)
			{
				commentOn = @approver.CommentOn.ToString();
			}

			if (@approver.Comment != null)
			{
				Model.Comment = @approver.Comment;
			}
			else
			{
				Model.Comment = String.Empty;
			}


			if ((approver.isReadOnly && commentOn != String.Empty) || Model.ProgramHeader.isProgramApproved)
			{
				<div class="form-group">
					<fieldset disabled class="approver-border">
						<legend class="approver-border"><b>Approver:</b> @approver.FirstName @approver.LastName</legend>
						<div class="col-md-4">
							@if (approvedFlag == "true")
							{
								<input type="radio" checked="checked"><span>&nbsp;&nbsp;Approved&nbsp;&nbsp;&nbsp;&nbsp;</span>
								<input type="radio"><span>&nbsp;Rejected</span>
							}
							else
							{
								<input type="radio"><span>&nbsp;&nbsp;Approved&nbsp;&nbsp;&nbsp;&nbsp;</span>
								<input type="radio" checked="checked"><span>&nbsp;Rejected</span>
							}
							<br /><br />
							@Html.Label(commentOn, new { style = "font-weight: lighter;" })
						</div>
						<div class="col-md-5">
							@Html.Label("Comment", htmlAttributes: new { style = "font-weight: lighter;" })
							@Html.TextAreaFor(model => model.Comment, new { @class = "form-control", @rows = 3 })
						</div>
					</fieldset>
				</div>
			}
			else if (!approver.isReadOnly)
			{
				using (Html.BeginForm(null, null, FormMethod.Post, new { name = "formApproval", id = "formApproval" }))
				{
					<div class="form-group">
						<fieldset class="approver-border">
							@Html.HiddenFor(model => model.ProgramHeader.ProgramHeaderId)
							@Html.HiddenFor(model => model.ProgramApprovalId)

							<legend class="approver-border"><b>Approver:</b> @approver.FirstName @approver.LastName</legend>
							<div class="col-md-4">
								@if (approvedFlag == "true")
								{
									@Html.Kendo().RadioButtonFor(model => model.Approved).Checked(true).Label("Approved").Value(true)
									@Html.Kendo().RadioButtonFor(model => model.Approved).Checked(false).Label("Rejected").Value(false).HtmlAttributes(new { @style = "margin-left: 20px;" })}
								else
								{
									@Html.Kendo().RadioButtonFor(model => model.Approved).Checked(false).Label("Approved").Value(true)
									@Html.Kendo().RadioButtonFor(model => model.Approved).Checked(true).Label("Rejected").Value(false).HtmlAttributes(new { @style = "margin-left: 20px;" })
								}
								<br /><br />
								@if (commentOn != String.Empty)
								{
									@Html.Label(commentOn, new { htmlAttributes = new { @class = "control-label" } })
								}
							</div>
							<div class="col-md-5">
								@Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label" })
								@Html.TextAreaFor(model => model.Comment, new { @class = "form-control", @rows = 3, autofocus = "autofocus" })
							</div>
							<br />
							<div class="form-group">
								@if (Model.ProgramHeader.isProgramSubmitted && Model.ProgramHeader.isProgramApproved)
								{
									<span class="tool-tip" data-toggle="tooltip" data-placement="bottom" title="Program Approved">
										<input id="Save" name="Save" type="submit" value="Save" class="btn btn-primary" disabled="disabled" />
									</span>
									@Html.ActionLink("Cancel", "Index", "Program", null, new { @class = "btn btn-danger" })
								}
								else if (Model.ProgramHeader.isProgramSubmitted && !Model.ProgramHeader.isProgramRejected && !Model.ProgramHeader.isProgramApproved)
								{
									<input id="Save" name="Save" type="submit" value="Save" class="btn btn-primary" title="Save or Update Approval" data-toggle='tooltip' data-placement="bottom" />
									@Html.ActionLink("Cancel", "Index", "Program", null, new { @class = "btn btn-danger" })
								}
								else if (Model.ProgramHeader.isProgramSubmitted && Model.ProgramHeader.isProgramRejected)
								{
									<span class="tool-tip" data-toggle="tooltip" data-placement="bottom" title="Program Rejected pending updates and re-submit">
										<input id="Save" name="Save" type="submit" value="Save" class="btn btn-primary" disabled="disabled" />
									</span>
									@Html.ActionLink("Cancel", "Index", "Program", null, new { @class = "btn btn-danger" })
								}
								else
								{
									<span class="tool-tip" data-toggle="tooltip" data-placement="bottom" title="Program Locked">
										<input id="Save" name="Save" type="submit" value="Save" class="btn btn-primary disabled" disabled="disabled" />
									</span>
									@Html.ActionLink("Cancel", "Index", "Program", null, new { @class = "btn btn-danger" })
								}

							</div>
						</fieldset>
					</div>
				}
			}
			else
			{
				<div class="form-group">
					<fieldset class="approver-border">
						<legend class="approver-border"><b>Approver:</b> @approver.FirstName @approver.LastName</legend>
						<div>Pending Approval</div>
					</fieldset>
				</div>
			}
		}
	}
	<br />
	<div>
		@Html.ActionLink("Back to Manage Programs", "Index")
	</div>
</div>
<style>
	.x-text-readonly {
		font-weight: lighter;
	}
</style>


@section Scripts {
	@Scripts.Render("~/Scripts/custom/Program.Approval.js")
}