﻿@model dpc.Web.ViewModel.ProgramHeaderViewModel

@{
    ViewBag.Title = "Create New Program";
}

<h3>@ViewBag.Title</h3>

@using (Html.BeginForm("formInsert"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.HiddenFor(model => model.ProgramHeaderId)

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.BusinessUnit, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-6 x-top-offset-5">
                    @Html.Kendo().RadioButtonFor(model => model.BusinessUnit).Checked(true).Label("Retail").Value("Retail")
                    &nbsp;&nbsp;
                    @Html.Kendo().RadioButtonFor(model => model.BusinessUnit).Checked(false).Label("Healthcare").Value("Healthcare")
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", autofocus = "autofocus" } })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-4">
                    <b>Brand Owner</b>
                </div>
                <div class="col-md-6">
                    @if (Model != null)
                    {
                        @Html.DropDownList("BrandOwnerId",
                                        new SelectList(Model.BrandOwnerList, "Value", "Description"),
                                        "--Select--",
                                        new { @class = "form-control" })
}
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RequestedShipDate, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.RequestedShipDate, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ContractEndDate, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.ContractEndDate, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TransitionTypeList, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-3">
                    @if (Model != null)
                    {
                        @Html.DropDownList("TransitionType",
                        new SelectList(Model.TransitionTypeList, "Value", "Description"),
                        "--Select--",
                        new { @class = "form-control" })
}
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Discounts, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-2">
                    @(Html.Kendo().NumericTextBoxFor<double>(model => model.Discounts)
                        .Format("p2")
                        .Min(0)
                        .Max(1.0)
                        .Step(0.001)
                        .Decimals(3)
                        .HtmlAttributes(new { style = "width: 150%" })
						.Value(0)
                    )
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FeesPromotions, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-2">
                    @(Html.Kendo().NumericTextBoxFor<double>(model => model.FeesPromotions)
                        .Format("p2")
                        .Min(0)
                        .Max(1.0)
                        .Step(0.001)
                        .Decimals(3)
                        .HtmlAttributes(new { style = "width: 150%" })
						.Value(0)
                    )
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BrokerFees, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-2">
                    @(Html.Kendo().NumericTextBoxFor<double>(model => model.BrokerFees)
                        .Format("p2")
                        .Min(0)
                        .Max(1.0)
                        .Step(0.001)
                        .Decimals(3)
                        .HtmlAttributes(new { style = "width: 150%" })
						.Value(0)
                    )
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ReturnsDamage, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-2">
                    @(Html.Kendo().NumericTextBoxFor<double>(model => model.ReturnsDamage)
                        .Format("p2")
                        .Min(0)
                        .Max(1.0)
                        .Step(0.001)
                        .Decimals(3)
                        .HtmlAttributes(new { style = "width: 150%" })
						.Value(0)
                    )
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PalletsList, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-3">
                    @if (Model != null)
                    {
                        @Html.DropDownList("Pallets",
                                        new SelectList(Model.PalletsList, "Value", "Description"),
                                       "--Select--",
                                       new { @class = "form-control" })
}
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FreightTermsList, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-4">
                    @if (Model != null)
                    {
                        @Html.DropDownList("FreightTerms",
                                        new SelectList(Model.FreightTermsList, "Value", "Description"),
                                       "--Select--",
                                       new { @class = "form-control" })
}
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FreightPerPad, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-2">
                    @(Html.Kendo().NumericTextBoxFor<double>(model => model.FreightPerPad)
                        .Format("c3")
                        .Min(0)
                        .Max(100)
                        .Step(0.001)
                        .Decimals(4)
                        .HtmlAttributes(new { style = "width: 150%" })
						.Value(0)
                    )
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OceanFreight, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-2">
                    @(Html.Kendo().NumericTextBoxFor<double>(model => model.OceanFreight)
                        .Format("c3")
                        .Min(0)
                        .Max(100)
                        .Step(0.001)
                        .Decimals(4)
                        .HtmlAttributes(new { style = "width: 150%" })
						.Value(0)
                    )
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NewProgramList, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-3">
                    @if (Model != null)
                    {
                        @Html.DropDownList("NewProgram",
                                        new SelectList(Model.NewProgramList, "Value", "Description"),
                                       "--Select--",
                                       new { @class = "form-control" })
}
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProgramFee, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-2">
                    @(Html.Kendo().NumericTextBoxFor<double>(model => model.ProgramFee)
                        .Format("c0")
                        .Min(0)
                        .Step(1)
                        .HtmlAttributes(new { style = "width: 150%" })
						.Value(0)
                    )
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProgramFeeDescription, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.ProgramFeeDescription, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input name="Create" type="submit" value="Create" class="btn btn-primary" />&nbsp;&nbsp;
                @Html.ActionLink("Cancel", "Index", "Program", null, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
	@Scripts.Render("~/Scripts/custom/Program.CreateHeader.js")
}
