﻿@model dpc.Web.ViewModel.ProgramLineExtViewModel

@{
	ViewBag.Title = "Create/Edit Line";
}

<div style="margin-bottom: -20px">
	<div class="pull-left">
		<h3>@ViewBag.Title for Program: @Html.DisplayFor(model => model.ProgramHeader.ProgramHeaderId)</h3>
	</div>
	<div class="pull-right">
		<h3 class="text-right">@Html.ActionLink("View Program Header", "EditHeader" + "/" + @Html.DisplayFor(model => model.ProgramHeader.ProgramHeaderId), "Program", null, new { @class = "btn btn-primary" })</h3>
	</div>
	<div class="clearfix"></div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "formProgramLine", id = "formProgramLine" }))
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<hr />
		@Html.HiddenFor(model => model.ProgramHeader.ProgramHeaderId)
		@Html.HiddenFor(model => model.ProgramHeader.ProductCategoryId)
		@Html.Hidden("ProgramLineId_ToUpdate")

		@*User Selection*@
		<div class="col-md-4">
			<div class="form-group">
				<div class="control-label col-md-5">
					<b>Product Type</b>
				</div>
				<div class="col-md-5">
					@(Html.Kendo().DropDownListFor(model => model.ProgramLine.ProductTypeId)
							   .HtmlAttributes(new { style = "width: 150px;", id = "ProductTypeId", name = "ProductTypeId" })
							   .OptionLabel("--Select--")
							   .DataTextField("Description")
							   .DataValueField("Value")
							   .DataSource(source =>
							   {
								   source.Read(read =>
								   {
									   read.Action("GetProductTypeListByProductCategory", "Maintenance", new { ProductCategoryId = Model.ProgramHeader.ProductCategoryId });
								   })
								   .ServerFiltering(true);
							   })
					)
				</div>
			</div>

			<div class="form-group">
				<div class="control-label col-md-5">
					<b>Product Size</b>
				</div>
				<div class="col-md-5">
					@(Html.Kendo().DropDownListFor(model => model.ProgramLine.ProductSizeId)
							   .HtmlAttributes(new { style = "width: 150px;", id = "ProductSizeId", name = "ProductSizeId" })
							   .OptionLabel("--Select--")
							   .DataTextField("Description")
							   .DataValueField("Value")
							   .DataSource(source =>
							   {
								   source.Read(read =>
								   {
									   read.Action("GetProductSizeListByProductType", "Maintenance")
									   .Data("filterProductType");
								   })
								   .ServerFiltering(true);
							   })
							   .Enable(false)
							   .AutoBind(true)
							   .CascadeFrom("ProductTypeId")
					)
					<script>
						function filterProductType() {
							return {
								ProductTypeId: $("#ProductTypeId").val()
							};
						}
					</script>
				</div>
			</div>

			<div class="form-group">
				<div class="control-label col-md-5">
					<b>Pack Style</b>
				</div>
				<div class="col-md-5">
					@(Html.Kendo().DropDownListFor(model => model.ProgramLine.PackStyleId)
							   .HtmlAttributes(new { style = "width: 150px;", id = "PackStyleId", name = "PackStyleId" })
							   .OptionLabel("--Select--")
							   .DataTextField("Description")
							   .DataValueField("Value")
							   .DataSource(source =>
							   {
								   source.Read(read =>
								   {
									   read.Action("GetPackStyleListByProductType", "Maintenance")
									   .Data("filterPackStyleId");
								   })
								   .ServerFiltering(true);
							   })
							   .Enable(false)
							   .AutoBind(true)
							   .CascadeFrom("ProductTypeId")
					)
					<script>
						function filterPackStyleId() {
							return {
								ProductTypeId: $("#ProductTypeId").val()
							};
						}
					</script>
				</div>
			</div>

			<div class="form-group">
				<p class="control-label col-md-5">
					<b>Consumable Unit</b>
				</p>
				<div class="col-md-5">
					@(Html.Kendo().DropDownListFor(model => model.ProgramLine.ContainerTypeId)
							   .HtmlAttributes(new { style = "width: 150px;", id = "ContainerTypeId", name = "ContainerTypeId" })
							   .OptionLabel("--Select--")
							   .DataTextField("Description")
							   .DataValueField("Value")
							   .DataSource(source =>
							   {
								   source.Read(read =>
								   {
									   read.Action("GetContainerTypeList", "Maintenance");
								   })
								   .ServerFiltering(true);
							   })
							   .Enable(false)
							   .AutoBind(true)
							   .CascadeFrom("ProductSizeId")
					)
				</div>
			</div>

			<div class="form-group">
				<p class="control-label col-md-5">
					<b>Secondary Packaging Type</b>
				</p>
				<div class="col-md-5">
					@(Html.Kendo().DropDownListFor(model => model.ProgramLine.BagTypeToPackagingTypeId)
						  .HtmlAttributes(new { style = "width: 150px;", id = "BagTypeToPackagingTypeId", name = "BagTypeToPackagingTypeId" })
						  .OptionLabel("--Select--")
						  .DataTextField("Description")
						  .DataValueField("Value")
						  .DataSource(source =>
						  {
							  source.Read(read =>
							  {
								  read.Action("GetPackagingTypeListByContainerTypeProductSize", "Maintenance")
									  .Data("filterContainerType1");
							  })
							  .ServerFiltering(true);
						  })
						  .Enable(false)
						  .AutoBind(true)
						  .CascadeFrom("ContainerTypeId")
					)
					<script>
						function filterContainerType1() {
							return {
								ContainerTypeId: 1,
								ProductSizeId: $("#ProductSizeId").val()
							};
						}
					</script>
				</div>
			</div>

			<div class="form-group">
				<p class="control-label col-md-5">
					<b>Shipper Type</b>
				</p>
				<div class="col-md-5">
					@(Html.Kendo().DropDownListFor(model => model.ProgramLine.CaseTypeToPackagingTypeId)
						  .HtmlAttributes(new { style = "width: 150px;", id = "CaseTypeToPackagingTypeId", name = "CaseTypeToPackagingTypeId" })
						  .OptionLabel("--Select--")
						  .DataTextField("Description")
						  .DataValueField("Value")
						  .DataSource(source =>
						  {
							  source.Read(read =>
							  {
								  read.Action("GetPackagingTypeListByContainerTypeProductSize", "Maintenance")
									  .Data("filterContainerType2");
							  })
							  .ServerFiltering(true);
						  })
						  .Enable(false)
						  .AutoBind(true)
						  .CascadeFrom("ContainerTypeId")
					)
					<script>
						function filterContainerType2() {
							return {
								ContainerTypeId: 2,
								ProductSizeId: $("#ProductSizeId").val()
							};
						}
					</script>
				</div>
			</div>

			<div class="form-group">
				<p class="control-label col-md-5">
					<b>Brand</b>
				</p>
				<div class="col-md-5">
					@(Html.Kendo().DropDownListFor(model => model.ProgramLine.BrandId)
					  .HtmlAttributes(new { style = "width: 150px;", id = "BrandId", name = "BrandId" })
					  .OptionLabel("--Select--")
					  .DataTextField("Description")
					  .DataValueField("Value")
					  .DataSource(source =>
					  {
						  source.Read(read =>
						  {
							  read.Action("GetBrandListByBrandOwnerId", "Maintenance", new { BrandOwnerId = Model.ProgramHeader.BrandOwnerId });
						  })
							  .ServerFiltering(true);
					  })
					  .CascadeFrom("CaseTypeToPackagingTypeId")
					)
				</div>
			</div>

			<div class="form-group">
				<p class="control-label col-md-5">
					<b>Variant</b>
				</p>
				<div class="col-md-5">
					@(Html.Kendo().DropDownListFor(model => model.ProgramLine.VariantId)
							   .HtmlAttributes(new { style = "width: 150px;", id = "VariantId", name = "VariantId" })
							   .OptionLabel("--Select--")
							   .DataTextField("Description")
							   .DataValueField("Value")
							   .DataSource(source =>
							   {
								   source.Read(read =>
								   {
									   read.Action("GetVariantList", "Maintenance");
								   })
								   .ServerFiltering(true);
							   })
							   .Enable(false)
							   .AutoBind(true)
							   .CascadeFrom("BrandId")
					)
				</div>
			</div>
		</div>

		@*Features*@
		<div class="col-md-4">
			@if (Model != null)
			{
				foreach (var feature in Model.FeatureList)
				{
					<div class="form-group">
						<div class="control-label col-md-5">
							<b>@feature.Description</b>
						</div>

						<div class="col-md-5">
							@(Html.Kendo().DropDownListFor(model => model.FeatureToOptionId)
							  .HtmlAttributes(new { style = "width: 150px;", id = @feature.Abbreviation, name = "FeatureToOptionId" + @feature.Abbreviation })
							  .OptionLabel("--Select--")
							  .DataTextField("Description")
							  .DataValueField("Value")
							  .DataSource(source =>
							  {
								  source.Read(read =>
								  {
									  read.Action("GetFeatureOptionList", "Program")
										  .Data("filterFeatureOptions" + @feature.FeatureId);
								  })
								  .ServerFiltering(true);
							  })
							  .Enable(false)
							  .AutoBind(true)
							  .CascadeFrom("ProductTypeId")
							  .CascadeFrom("ProductSizeId")
							)
							<script>
								function filterFeatureOptions@(feature.FeatureId)() {
									return {
										FeatureId: (@feature.FeatureId),
										ProductTypeId: $("#ProductTypeId").val(),
										ProductSizeId: $("#ProductSizeId").val()
									};
								}
							</script>
						</div>
					</div>
				}
			}
		</div>

		@*Validation*@
		<script>
			$.validateHelper({
				form: 'formProgramLine',
				rules: {
					ProductTypeId: {
						required: true
					},
					ProductSizeId: {
						required: true
					},
					PackStyleId: {
						required: true
					},
					ContainerTypeId: {
						required: true
					},
					BagTypeToPackagingTypeId: {
						required: true
					},
					CaseTypeToPackagingTypeId: {
						required: true
					},
					BrandId: {
						required: true
					},
					VariantId: {
						required: true
					},
					'ProgramLine.BagCount': {
						required: true
					},
					'ProgramLine.BagsPerCase': {
						required: true
					},
					'ProgramLine.AnnualCases': {
						required: true
					},
					'ProgramLine.CaseSellingPrice': {
						required: true
					},
					@foreach (var feature in Model.FeatureList)
					{
					var FeatureAbbreviation = "FeatureToOptionId" + @feature.Abbreviation;
					<text>
					@FeatureAbbreviation :
					{
						required: true
					},
					</text>
					}
				},
				messages: {
					ProductTypeId: {
						required: 'Product Type required'
					},
					ProductSizeId: {
						required: 'Product Size required'
					},
					PackStyleId: {
						required: 'Pack Style required'
					},
					ContainerTypeId: {
						required: 'Consumable Unit required'
					},
					BagTypeToPackagingTypeId: {
						required: 'Secondary Packaging required'
					},
					CaseTypeToPackagingTypeId: {
						required: 'Shipper required'
					},
					BrandId: {
						required: 'Brand required'
					},
					VariantId: {
						required: 'Variant required'
					},
					'ProgramLine.BagCount': {
						required: 'Bag Count required'
					},
					'ProgramLine.BagsPerCase': {
						required: 'Bags Per Case required'
					},
					'ProgramLine.AnnualCases': {
						required: 'Annual Cases required'
					},
					'ProgramLine.CaseSellingPrice': {
						required: 'Case Selling Price required'
					},
					@foreach (var feature in Model.FeatureList)
					{
					var FeatureAbbreviation = "FeatureToOptionId" + @feature.Abbreviation;
					<text>
					@FeatureAbbreviation :
					{
						required: '@feature.Description required'
					},
					</text>
					}
				}
			}); // end validateHelper
		</script>

		@*User Input*@
		<div class="col-md-4">
			<div class="form-group">
				@Html.LabelFor(model => model.ProgramLine.BagCount, htmlAttributes: new { @class = "control-label col-md-5" })
				<div class="col-md-4">
					@Html.EditorFor(model => model.ProgramLine.BagCount, new { htmlAttributes = new { @class = "form-control" } })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.ProgramLine.BagsPerCase, htmlAttributes: new { @class = "control-label col-md-5" })
				<div class="col-md-4">
					@Html.EditorFor(model => model.ProgramLine.BagsPerCase, new { htmlAttributes = new { @class = "form-control" } })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.ProgramLine.AnnualCases, htmlAttributes: new { @class = "control-label col-md-5" })
				<div class="col-md-4">
					@Html.EditorFor(model => model.ProgramLine.AnnualCases, new { htmlAttributes = new { @class = "form-control" } })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.ProgramLine.CaseSellingPrice, htmlAttributes: new { @class = "control-label col-md-5" })
				<div class="col-md-4">
					@Html.EditorFor(model => model.ProgramLine.CaseSellingPrice, new { htmlAttributes = new { @class = "form-control" } })
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-offset-5 col-md-7">
					@if (Model.isApprovalSubmitted)
					{
						<span class="tool-tip" data-toggle="tooltip" data-placement="bottom" title="Program submitted for Approval">
							<input id="Create" name="Create" type="submit" value="Create" class="btn btn-primary" disabled="disabled" />
						</span>
					}
					else
					{
						<input id="Create" name="Create" type="submit" value="Create" class="btn btn-primary" />
						<input id="Update" name="Update" type="submit" value="Update" class="btn btn-primary" />
						<input id="Cancel" name="Cancel" type="submit" value="Cancel" class="btn btn-danger" />
					}

				</div>
			</div>

			<div class="form-group">

			</div>
		</div>

		<div class="form-group">
		</div>

		@*Grid*@
		<div>
			@(Html.Kendo().Grid<dynamic>()
			  .Name("grid")
			  .Columns(columns =>
			  {
				  if (!Model.isApprovalSubmitted)
				  {
					  columns.Command(command => command.Custom("Edit").Click("EditItem")).Width(4).Locked(true);
					  columns.Command(command => command.Custom("Delete").Click("ConfirmDeleteItem")).Width(4).Locked(true);
				  }

				  foreach (System.Data.DataColumn column in Model.FeatureOptions.Columns)
				  {
					  if (column.ColumnName == "ProgramLineId" || column.ColumnName == "ProgramHeaderId")
					  {
						  columns.Bound(column.ColumnName).Hidden();
					  }
					  else if (column.ColumnName == "Product" || column.ColumnName == "Size" || column.ColumnName == "PackStyle" || column.ColumnName == "ConsumableUnit")
					  {
						  columns.Bound(column.ColumnName).Locked(true);
					  }
					  else
					  {
						  switch (column.ColumnName)
						  {
							  case "BagCount":
							  case "BagsPerCase":
							  case "AnnualCases":
							  case "Pieces":
								  columns.Bound(column.ColumnName).Format("{0:n0}");
								  break;

							  case "CaseSellingPrice":
								  columns.Bound(column.ColumnName).Format("{0:c2}");
								  break;

							  case "PiecePrice":
								  columns.Bound(column.ColumnName).Format("{0:c3}");
								  break;

							  case "ContributionMargin":
							  case "VariableMargin":
							  case "NetSales":
								  columns.Bound(column.ColumnName).Format("{0:c0}");
								  break;

							  case "ContributionMarginPercent":
							  case "VariableMarginPercent":
								  columns.Bound(column.ColumnName).Format("{0:p0}");
								  break;

							  default:
								  columns.Bound(column.ColumnName);
								  break;
						  }
					  }
				  }

			  })
			  .Events(e =>
			  {
				  e.DataBound("OnGridItemsEnteredDataBound");
				  e.ExcelExport("excelExport");
			  })
			  .Pageable()
			  .Resizable(resize => resize.Columns(false))
			  .Sortable()
			  .Editable(ed => ed.Mode(GridEditMode.PopUp))
			  .Scrollable(scrollable => scrollable.Height(375))
			  .ToolBar(tools => tools.Excel())
			  .Excel(excel => excel
				  .AllPages(true)
				  .FileName("ProgramLinesExport.xlsx")
			  )
			  .DataSource(dataSource => dataSource
				  .Ajax()
					.Model(model =>
					{
						model.Id("ProgramLineId");
					})
				  .Read(read => read.Action("ProgramLine_Read", "Program").Data("{ Id: " + @Model.ProgramHeader.ProgramHeaderId + "}"))
				  .PageSize(10)
				  .Sort(sort => sort.Add("ProgramLineId").Descending())
			  )
			)
		</div>
	</div>
}
<br />
<div>
	@Html.ActionLink("Back to Manage Programs", "Index")
</div>

@section Scripts {
	@Scripts.Render("~/Scripts/custom/Program.CreateLine.js")
}
