﻿@model dpc.Web.ViewModel.ProgramHeaderViewModel

@{
	ViewBag.Title = "Edit Header";
}

<script type="text/javascript">
	//Must be included in the view so "at"Url can be used to generate link
	function PopulateFinancialSummary() {
		$("#FinacialSummary").load('@(Url.ParamAction("GetProgramHeaderByIdAsync", "Program", Model.ProgramHeaderId.ToString()))')
	}
</script>

<div style="margin-bottom: -20px">
	<div class="pull-left">
		<h3>
			@ViewBag.Title for Program: @Html.DisplayFor(model => model.ProgramHeaderId)&nbsp;&nbsp;

			@if (!Model.isProgramSubmitted)
			{
				<a href="#"><i id="Delete" title="Delete Program Header and Lines" data-toggle='tooltip' class="fa fa-trash-o"></i></a>
			}
		</h3>
	</div>
	<div class="pull-right">
		<h3 class="text-right">@Html.ActionLink("View Program Line", "CreateLine" + "/" + @Html.DisplayFor(model => model.ProgramHeaderId), "Program", null, new { @class = "btn btn-primary" })</h3>
	</div>
	<div class="clearfix"></div>
</div>


@using (Html.BeginForm("formSubmitForApproval"))
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<hr />
		@Html.ValidationSummary(false, "", new { @class = "text-danger" })
		@Html.HiddenFor(model => model.ProgramHeaderId)
		@Html.HiddenFor(model => model.Status)

		<div class="col-md-6">
			<div class="form-group">
				@Html.LabelFor(model => model.BusinessUnit, htmlAttributes: new { @class = "control-label col-md-4" })
				<div class="col-md-6 x-top-offset-5">
					@Html.Kendo().RadioButtonFor(model => model.BusinessUnit).Checked(true).Label("Retail").Value("Retail")
					&nbsp;&nbsp;
					@Html.Kendo().RadioButtonFor(model => model.BusinessUnit).Checked(false).Label("Healthcare").Value("Healthcare")
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-4" })
				<div class="col-md-6">
					@Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
				</div>
			</div>

			<div class="form-group">
				<div class="control-label col-md-4">
					<b>Brand Owner</b>
				</div>
				<div class="col-md-6">
					@if (Model.isProgramLinesExist)
					{
						<span class="tool-tip" data-toggle="tooltip" data-placement="right" title="Unable to change - Program Line contains Brand">
							@Html.DropDownList("BrandOwnerId",
								  new SelectList(Model.BrandOwnerList, "Value", "Description"),
								  "--Select--",
								  new { @class = "form-control", @disabled = true })
						</span>
					}
					else
					{
						@Html.DropDownList("BrandOwnerId",
							new SelectList(Model.BrandOwnerList, "Value", "Description"),
							"--Select--",
							new { @class = "form-control" })
					}
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.RequestedShipDate, htmlAttributes: new { @class = "control-label col-md-4" })
				<div class="col-md-4">
					@Html.EditorFor(model => model.RequestedShipDate, new { htmlAttributes = new { @class = "form-control" } })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.ContractEndDate, htmlAttributes: new { @class = "control-label col-md-4" })
				<div class="col-md-4">
					@Html.EditorFor(model => model.ContractEndDate, new { htmlAttributes = new { @class = "form-control" } })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-4" })
				<div class="col-md-6">
					@Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control" } })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.TransitionTypeList, htmlAttributes: new { @class = "control-label col-md-4" })
				<div class="col-md-3">
					@(Html.Kendo().DropDownListFor(model => model.TransitionType)
					  .HtmlAttributes(new { style = "width: 150px;", id = "TransitionType", name = "TransitionType" })
					  .OptionLabel("--Select--")
					  .DataTextField("Description")
					  .DataValueField("Value")
					  .DataSource(source =>
					  {
						  source.Read(read =>
						  {
							  read.Action("GetTransitionTypeList_Read", "Program");
						  });
					  })
					)
				</div>
			</div>

			@*Financial Summary*@
			<div class="form-group">
				<div class="panel panel-info">
					<div class="panel-heading">
						<div class="pull-left">
							Financial Summary <span style="font-size: 8pt; font-weight: bold">&nbsp;&nbsp;(In Thousands)</span>
						</div>
						<div class="pull-right">
							# of Program Lines:&nbsp;@Html.DisplayFor(model => model.ProgramLineCount)
						</div>
						<div class="clearfix"></div>
					</div>
					<div id="FinacialSummary"></div>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="form-group">
				@Html.LabelFor(model => model.Discounts, htmlAttributes: new { @class = "control-label col-md-5" })
				<div class="col-md-2">
					@(Html.Kendo().NumericTextBoxFor<double>(model => model.Discounts)
					  .Format("p2")
					  .Min(0)
					  .Max(1.0)
					  .Step(0.001)
					  .Decimals(3)
					  .HtmlAttributes(new { style = "width: 150%" })
					)
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.FeesPromotions, htmlAttributes: new { @class = "control-label col-md-5" })
				<div class="col-md-2">
					@(Html.Kendo().NumericTextBoxFor<double>(model => model.FeesPromotions)
					  .Format("p2")
					  .Min(0)
					  .Max(1.0)
					  .Step(0.001)
					  .Decimals(3)
					  .HtmlAttributes(new { style = "width: 150%" })
					)
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.BrokerFees, htmlAttributes: new { @class = "control-label col-md-5" })
				<div class="col-md-2">
					@(Html.Kendo().NumericTextBoxFor<double>(model => model.BrokerFees)
					  .Format("p2")
					  .Min(0)
					  .Max(1.0)
					  .Step(0.001)
					  .Decimals(3)
					  .HtmlAttributes(new { style = "width: 150%" })
					)
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.ReturnsDamage, htmlAttributes: new { @class = "control-label col-md-5" })
				<div class="col-md-2">
					@(Html.Kendo().NumericTextBoxFor<double>(model => model.ReturnsDamage)
					  .Format("p2")
					  .Min(0)
					  .Max(1.0)
					  .Step(0.001)
					  .Decimals(3)
					  .HtmlAttributes(new { style = "width: 150%" })
					)
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.PalletsList, htmlAttributes: new { @class = "control-label col-md-5" })
				<div class="col-md-3">
					@(Html.Kendo().DropDownListFor(model => model.Pallets)
					  .HtmlAttributes(new { style = "width: 150px;", id = "Pallets", name = "Pallets" })
					  .OptionLabel("--Select--")
					  .DataTextField("Description")
					  .DataValueField("Value")
					  .DataSource(source =>
					  {
						  source.Read(read =>
						  {
							  read.Action("GetPalletsList_Read", "Program");
						  });
					  })
					)
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.FreightTermsList, htmlAttributes: new { @class = "control-label col-md-5" })
				<div class="col-md-4">
					@(Html.Kendo().DropDownListFor(model => model.FreightTerms)
					  .HtmlAttributes(new { style = "width: 150px;", id = "FreightTerms", name = "FreightTerms" })
					  .OptionLabel("--Select--")
					  .DataTextField("Description")
					  .DataValueField("Value")
					  .DataSource(source =>
					  {
						  source.Read(read =>
						  {
							  read.Action("GetFreightTermsList_Read", "Program");
						  });
					  })
					)
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.FreightPerPad, htmlAttributes: new { @class = "control-label col-md-5" })
				<div class="col-md-2">
					@(Html.Kendo().NumericTextBoxFor<double>(model => model.FreightPerPad)
					  .Format("c3")
					  .Min(0)
					  .Max(100)
					  .Step(0.001)
					  .Decimals(4)
					  .HtmlAttributes(new { style = "width: 150%" })
					)
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.OceanFreight, htmlAttributes: new { @class = "control-label col-md-5" })
				<div class="col-md-2">
					@(Html.Kendo().NumericTextBoxFor<double>(model => model.OceanFreight)
					  .Format("c3")
					  .Min(0)
					  .Max(100)
					  .Step(0.001)
					  .Decimals(4)
					  .HtmlAttributes(new { style = "width: 150%" })
					)
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.NewProgramList, htmlAttributes: new { @class = "control-label col-md-5" })
				<div class="col-md-3">
					@(Html.Kendo().DropDownListFor(model => model.NewProgram)
					  .HtmlAttributes(new { style = "width: 150px;", id = "NewProgram", name = "NewProgram" })
					  .OptionLabel("--Select--")
					  .DataTextField("Description")
					  .DataValueField("Value")
					  .DataSource(source =>
					  {
						  source.Read(read =>
						  {
							  read.Action("GetNewProgramList_Read", "Program");
						  });
					  })
					)
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.ProgramFee, htmlAttributes: new { @class = "control-label col-md-5" })
				<div class="col-md-3">
					@(Html.Kendo().NumericTextBoxFor<double>(model => model.ProgramFee)
					  .Format("c0")
					  .Min(0)
					  .Step(1)
					  .HtmlAttributes(new { style = "width: 150%" })
					)
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.ProgramFeeDescription, htmlAttributes: new { @class = "control-label col-md-5" })
				<div class="col-md-7">
					@Html.EditorFor(model => model.ProgramFeeDescription, new { htmlAttributes = new { @class = "form-control" } })
				</div>
			</div>

			<div class="form-group">
				<div class="control-label col-md-5">
					<b>Status</b>
				</div>
				<div class="col-md-6 x-top-offset-5">
					@Html.DisplayFor(model => Model.Status)
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				@if (!Model.isProgramLinesExist)
				{
					<input id="Save" value="Save & Re-calc" class="btn btn-primary" title="Save changes and Re-calc Financial Summary" data-toggle="tooltip" data-placement="bottom" />

					<span class="tool-tip" data-toggle="tooltip" data-placement="bottom" title="Program Lines must exist before Approval">
						<input id="SubmitForApproval" value="Submit for Approval" class="btn btn-success" disabled="disabled" />
					</span>
				}
				else if (!Model.isProgramSubmitted)
				{
					<input type="button" id="Save" value="Save & Re-calc" class="btn btn-primary" title="Save changes and Re-calc Financial Summary" data-toggle="tooltip" data-placement="bottom" />

					<input type="button" id="SubmitForApproval" value="Submit for Approval" class="btn btn-success" title="Submit for Approval" data-toggle="tooltip" data-placement="bottom" />
				}
				else if (Model.isProgramSubmitted && !Model.isProgramRejected && !Model.isProgramApproved)
				{
					<span class="tool-tip" data-toggle="tooltip" data-placement="bottom" title="Approvers Evaluating Program">
						<input type="button" id="Save" value="Save & Re-calc" class="btn btn-primary" disabled="disabled" />
					</span>

					<span class="tool-tip" data-toggle="tooltip" data-placement="bottom" title="Approvers Evaluating Program">
						<input type="button" id="SubmitForApproval" value="Submit for Approval" class="btn btn-success" disabled="disabled" />
					</span>
				}
				else if (Model.isProgramSubmitted && Model.isProgramRejected)
				{
					<input type="button" id="Save" value="Save & Re-calc" class="btn btn-primary" title="Program Rejected pending updates" data-toggle="tooltip" data-placement="bottom" />

					<input type="button" id="SubmitForApproval" value="Submit for Approval" class="btn btn-success" title="Program Rejected pending updates" data-toggle="tooltip" data-placement="bottom" />
				}
				else
				{
					<span class="tool-tip" data-toggle="tooltip" data-placement="bottom" title="Program Locked">
						<input type="button" id="Save" value="Save & Re-calc" class="btn btn-primary" disabled="disabled" />
					</span>

					<span class="tool-tip" data-toggle="tooltip" data-placement="bottom" title="Program Locked" >
						<input type="button" id="SubmitForApproval" value="Submit for Approval" class="btn btn-success" disabled="disabled" />
					</span>
				}

			</div>
		</div>
	</div>
}

<div>
	@Html.ActionLink("Back to Manage Programs", "Index")
</div>
@section Scripts {
	@Scripts.Render("~/Scripts/custom/Program.EditHeader.js")
}
