﻿@model IEnumerable<dpc.Web.ViewModel.ProgramHeaderViewModel>

@{
    ViewBag.Title = "Manage Programs";
}

<h3>@ViewBag.Title</h3>

<div>
    <div class="pull-left">
        <p>@Html.ActionLink("Create New", "CreateHeader", null, new { @class = "btn btn-primary" })</p>
    </div>
    <div class="pull-right">
        @*<p class="text-right"><a href="~/Content/images/LAR Program 20160926.png" target="_blank" title="Opens ERD (Entity Relationship Diagram) image in a new window">Temp link... Data Relationship</a></p>*@
    </div>
    <div class="clearfix"></div>
</div>

@(Html.Kendo().Grid<dpc.Web.ViewModel.ProgramHeaderViewModel>()
		.Name("grid")
		.HtmlAttributes(new { style = "height:600px; width:100%;" })
		.Columns(columns =>
		{
			columns.Template(x => { }).Width(26).ClientTemplate(
				"<a title='Program Details' data-toggle='tooltip' data-placement='right' href='" + Url.Action("EditHeader", "Program") + "/#=ProgramHeaderId#'><i class='fa fa-pencil fa-lg'></i></a>&nbsp;&nbsp;&nbsp;" +
				"# if (Status == 1) { #" +
					"<a title='Approval not Submitted' data-toggle='tooltip' data-placement='right'><i class='fa fa-hand-o-right fa-lg x-icon-inactive'></i></a>&nbsp;&nbsp;&nbsp;" +
				"# } else { #" +
					"<a title='View Approvals' data-toggle='tooltip' data-placement='right' href='" + Url.Action("Approval", "Program") + "/#=ProgramHeaderId#'><i class='fa fa-hand-o-right fa-lg'></i></a>&nbsp;&nbsp;&nbsp;" +
				"# } #" +
				"<a title='View Report' data-toggle='tooltip' data-placement='right' href='" + Url.Action("ReportXlsx", "Program", new { id = "#=ProgramHeaderId#" }) + "'><i class='fa fa-file-excel-o fa-lg'></i></a>&nbsp;&nbsp;&nbsp;"
					);
			columns.Bound(x => x.ProgramHeaderId).Width(30).HtmlAttributes(new { style = "text-align:right" });
			columns.Bound(x => x.Status).Width(28).HtmlAttributes(new { style = "text-align:center" });
			columns.Bound(x => x.BusinessUnit).Width(35);
			columns.Bound(x => x.Title).Width(50);
			columns.Bound(x => x.BrandOwnerDescription).Width(40);
			columns.Bound(x => x.RequestedShipDate).Width(35).HtmlAttributes(new { style = "text-align:right" });
			columns.Bound(x => x.ContractEndDate).Width(35).HtmlAttributes(new { style = "text-align:right" });
		})
		.Events(e =>
		{
			e.DataBound("OnGridItemsDataBound");
		})
		.Pageable()
		.Resizable(resize => resize.Columns(true))
		.Sortable()
		.Scrollable()
		.Filterable()
		.ToolBar(tools => tools.Excel())
		.Excel(excel => excel
			.AllPages(true)
			.FileName("ProgramsExport.xlsx")
		)
		.DataSource(dataSource => dataSource
			.Ajax()
			.Read(read => read.Action("ProgramHeader_Read", "Program"))
			.PageSize(15)
			.Sort(sort => sort.Add("ProgramHeaderId").Descending())
		)
)

<br />
<div>
    @Html.ActionLink("Back to Home", "Index", "Home")
</div>

@section Scripts {
	@Scripts.Render("~/Scripts/custom/Program.Index.js")
}