﻿@using Telerik.ReportViewer.Mvc
@{
    ViewBag.Title = "Reporting";
}

<div style="margin-bottom: -20px">
    <div class="pull-left">
        <h3>@ViewBag.Title</h3>
    </div>
    <div class="pull-right" style="margin-top: 25px">
        <p>@Html.ActionLink("Back to Manage Programs", "Index")</p>
    </div>
    <div class="clearfix"></div>
</div>

<style>
    #reportViewerCostModel {
        position: absolute;
        left: 40px;
        right: 50px;
        top: 165px;
        bottom: 75px;
        overflow: hidden;
        font-family: Verdana, Arial;
    }
</style>

@{
    var uriRS = new UriReportSource() { Uri = ViewBag.ProgramHeaderId.ToString() };
}

@(Html.TelerikReporting().ReportViewer()
        .Id("reportViewerCostModel")
        .ServiceUrl(Url.Content("~/api/reports/"))
        .TemplateUrl(Url.Content("~/ReportViewer/templates/telerikReportViewerTemplate-FA.html"))
        .ReportSource(uriRS)
        .ViewMode(ViewMode.PrintPreview)
        .ScaleMode(ScaleMode.Specific)
        .Scale(1.0)
        .PersistSession(false)
        .PrintMode(PrintMode.AutoSelect)
        .Deferred()
)

@section scripts
{
    @(Html.TelerikReporting().DeferredScripts())
}