﻿body {
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 50px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}


/***** Custom Kendo Styles - TODO: put in separate file *****/
/*Set all TextBoxes to 100% width of container*/
.k-textbox {
	width: 100%;
}

/*Fill in circle of radio button*/
.k-radio:checked + .k-radio-label:after {
	top: 2px !important;
	left: 2px !important;
}

/*Center grid heading*/
.k-grid .k-grid-header .k-header .k-link {
	height: auto;
	text-align: center;
}

/*Fit text in grid heading*/
.k-grid .k-grid-header .k-header {
	white-space: normal;
}


/***** Custom Styles - TODO: put in separate file *****/
.x-top-offset-0 {
	margin-top: 0;
}

.x-top-offset-5 {
	margin-top: 5px;
}

.x-top-offset-10 {
	margin-top: 10px;
}

.x-width-xsm {
	width: 50px;
}

.x-width-sm {
	width: 100px;
}

.x-width-md {
	width: 150px;
}

.x-width-lg {
	width: 200px;
}

.x-width-xlg {
	width: 300px;
}

.x-font-normal {
	font-weight: normal;
}

.navbar-nav {
	margin-top: 30px;
	font-size: 18px;
}

#logo {
	width: 84px;
	margin-right: 50px;
}

.modal-dialog {
	top: 10%;
}

/* //Sticky footer
//Reference: http://ryanfait.com/resources/footer-stick-to-bottom-of-page/
//NOTE: must remove footer id from .push (see doco) to prevent vertical scrollbar */
/*html,
body {
	height:100%;
}*/
#footer {
	width: 100%;
	margin-top: 100px;
}

#wrapper {
	min-height: 100%;
	margin: 0 auto -50px; /* //the bottom margin is the negative value of the footer's height */
}

.push {
	height: 40px; /* //'.push' must be the same height as 'footer' */
}

.navbar {
	height: 100px;
	border-bottom: 5px solid black;
}


.x-icon {
	text-decoration: none !important;
}

.x-icon-inactive {
	opacity: 0.5;
}

.x-password-icon {
	float: right;
	margin-top: -25px;
	position: relative;
	z-index: 2;
	width: 25px;
}

div.tooltip-inner {
	max-width: 350px;
}

.tool-tip {
	display: inline-block;
	cursor: not-allowed;
}

.tool-tip [disabled] {
	pointer-events: none;
}
