﻿@model dpc.Web.ViewModel.ProgramHeaderViewModel

@{
	ViewBag.Title = "Reporting";
}

@Html.HiddenFor(model => model.ShowLRRdetailReport)
@Html.HiddenFor(model => model.ShowLRRfinancialReport)
@Html.HiddenFor(model => model.ShowCalculationsReport)

<h3>@ViewBag.Title</h3>

@(Html.Kendo().Grid<dpc.Web.ViewModel.ProgramHeaderViewModel>()
		.Name("grid")
		.HtmlAttributes(new { style = "height:600px; width:100%;" })
		.Columns(columns =>
		{
			columns.Template(x => { }).Width(23).ClientTemplate(
				"<a title='View LRR Details Report' data-toggle='tooltip' data-placement='right' href='" + Url.Action("LrrdetailsXlsx", "Reporting", new { id = "#=ProgramHeaderId#" }) + "'><i id='LRRdetail' class='fa fa-file-excel-o fa-lg'></i></a>&nbsp;&nbsp;&nbsp;" +
				"<a title='View LRR Financials Report' data-toggle='tooltip' data-placement='right' href='" + Url.Action("LrrfinancialsXlsx", "Reporting", new { id = "#=ProgramHeaderId#" }) + "'><i id='LRRfinancial' class='fa fa-file-excel-o fa-lg'></i></a>&nbsp;&nbsp;&nbsp;" +
				"<a title='View Calculations Report' data-toggle='tooltip' data-placement='right' href='" + Url.Action("CalculationsXlsx", "Reporting", new { id = "#=ProgramHeaderId#" }) + "'><i id='Calculations' class='fa fa-file-excel-o fa-lg'></i></a>"
				);
			columns.Bound(x => x.ProgramHeaderId).Width(30).HtmlAttributes(new { style = "text-align:right" });
			columns.Bound(x => x.Status).Width(28).HtmlAttributes(new { style = "text-align:center" });
			columns.Bound(x => x.BusinessUnit).Width(35);
			columns.Bound(x => x.Title).Width(50);
			columns.Bound(x => x.BrandOwnerDescription).Width(40);
			columns.Bound(x => x.RequestedShipDate).Width(35).HtmlAttributes(new { style = "text-align:right" });
			columns.Bound(x => x.ContractEndDate).Width(35).HtmlAttributes(new { style = "text-align:right" });
		})
		.Events(e =>
		{
			e.DataBound("OnGridItemsDataBound");
		})
		.Pageable()
		.Resizable(resize => resize.Columns(true))
		.Sortable()
		.Scrollable()
		.Filterable()
		.ToolBar(tools => tools.Excel())
		.Excel(excel => excel
			.AllPages(true)
			.FileName("ReportsExport.xlsx")
		)
		.DataSource(dataSource => dataSource
			.Ajax()
			.Read(read => read.Action("ProgramHeader_Read", "Program"))
			.PageSize(15)
			.Sort(sort => sort.Add("ProgramHeaderId").Descending())
		)
)

<br />
<div>
	@Html.ActionLink("Back to Home", "Index", "Home")
</div>

@section Scripts {
	@Scripts.Render("~/Scripts/custom/Reporting.Index.js")
}