﻿
@model dpc.Web.ViewModel.FeatureToOptionViewModel

@{
	ViewBag.Title = "Feature Options";
}

<input type="hidden" id="hidden_ProductCategoryId" />
<input type="hidden" id="hidden_ProductTypeId" />
<input type="hidden" id="hidden_FeatureId" />
<input type="hidden" id="hidden_FeatureToOptionId" />
<input type="hidden" id="hidden_ProductTypeToFeatureId" />

<div id="Grid">
	<div class="col-md-12">
		<h3>List of @ViewBag.Title</h3>

		<p><a id="CreateBtn" class="btn btn-primary" href="#">Create</a></p>
	</div>

	<div class="col-md-10">
		@(Html.Kendo().Grid<dpc.Web.ViewModel.FeatureToOptionViewModel>()
			  .Name("grid")
			  .NoRecords()
			  .Columns(columns =>
			  {
				  columns.Command(command => command.Custom("edit").Click("EditItem"));
				  columns.Bound(x => x.ProductCategoryDescription);
				  columns.Bound(x => x.ProductTypeDescription);
				  columns.Bound(x => x.FeatureDescription);
				  columns.Bound(x => x.Description);
			  })
			  .Events(e =>
			  {
				  e.DataBound("OnGridItemsDataBound");
			  })
			  .Resizable(resize => resize.Columns(true))
			  .Sortable()
			  .Filterable()
			  .ToolBar(tools => tools.Excel())
			  .Excel(excel => excel
				  .AllPages(true)
				  .FileName("FeatureToOptionExport.xlsx")
			  )
			  .DataSource(dataSource => dataSource
				  .Ajax()
				  .Read(read => read.Action("FeatureToOption_Read", "Maintenance"))
			  )
		)
		<br />
	</div>

	<div class="col-md-12">
		@Html.ActionLink("Back to Maintenance", "Index", "Maintenance")
	</div>
</div>

<div class="modal fade" id="modalInsert" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title text-left">Create Feature Option</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12 text-left">
						@using (Html.BeginForm("formInsert"))
						{
							<div class="form-horizontal">
								<div class="form-group">
									<div class="control-label col-md-4">
										<b>Product Category</b>
									</div>
									<div class="col-md-8">
										@(Html.Kendo().DropDownListFor(Model => Model.ProductCategoryId)
											  .HtmlAttributes(new { id = "ProductCategoryId", name = "ProductCategoryId" })
											  .OptionLabel("--Select--")
											  .DataTextField("Description")
											  .DataValueField("Value")
											  .DataSource(source =>
											  {
												  source.Read(read =>
												  {
													  read.Action("GetProductCategoryList", "Maintenance");
												  });
											  })
										)
									</div>
								</div>
								<div class="form-group">
									<div class="control-label col-md-4">
										<b>Product Type</b>
									</div>
									<div class="col-md-8">
										@(Html.Kendo().DropDownListFor(model => model.ProductTypeId)
											  .HtmlAttributes(new { style = "width: 150px;", id = "ProductTypeId", name = "ProductTypeId" })
											  .OptionLabel("--Select--")
											  .DataTextField("Description")
											  .DataValueField("Value")
											  .DataSource(source =>
											  {
												  source.Read(read =>
												  {
													  read.Action("GetProductTypeListByProductCategory", "Maintenance")
														  .Data("filterProductCategory");
												  })
													  .ServerFiltering(true);
											  })
											  .Enable(false)
											  .AutoBind(true)
											  .CascadeFrom("ProductCategoryId")
										)
										<script>
											function filterProductCategory() {
												return {
													ProductCategoryId: $("#ProductCategoryId").val()
												};
											}
										</script>
									</div>
								</div>
								<div class="form-group">
									<div class="control-label col-md-4">
										<b>Feature</b>
									</div>
									<div class="col-md-8">
										@(Html.Kendo().DropDownListFor(model => model.FeatureId)
											  .HtmlAttributes(new { style = "width: 150px;", id = "FeatureId", name = "FeatureId" })
											  .OptionLabel("--Select--")
											  .DataTextField("Description")
											  .DataValueField("Value")
											  .DataSource(source =>
											  {
												  source.Read(read =>
												  {
													  read.Action("GetFeatureListByProductCategory", "Maintenance")
														  .Data("filterProductCategory2");
												  })
													  .ServerFiltering(true);
											  })
											  .Enable(false)
											  .AutoBind(true)
											  .CascadeFrom("ProductTypeId")
										)
										<script>
											function filterProductCategory2() {
												return {
													ProductCategoryId: $("#ProductCategoryId").val()
												};
											}
										</script>
									</div>
								</div>
								<div class="form-group">
									<div class="control-label col-md-4">
										<b>Description</b>
									</div>
									<div class="col-md-8">
										<input class="k-textbox" id="insert_Description" name="insert_Description">
									</div>
								</div>
							</div>
						}
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 col-md-offset-4">
						<button id="InsertBtn" class="btn btn-primary">Insert</button>
						<button id="CancelInsertBtn" class="btn btn-danger">Cancel</button>
					</div>
				</div>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title text-left">
					Edit Feature Option&nbsp;&nbsp;&nbsp;
					<a href="#">
						<i id="Delete" data-toggle="tooltip" title="Delete Feature Option" class="fa fa-trash-o"></i>
					</a>
				</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12 text-left">
						@using (Html.BeginForm("formEdit"))
						{
							<div class="form-horizontal">
								<div class="form-group">
									<div class="control-label col-md-4">
										<b>Product Category</b>
									</div>
									<div class="col-md-8">
										<label for="ProductCategoryDescription" class="x-top-offset-5 x-font-normal"></label>
									</div>
								</div>
								<div class="form-group">
									<div class="control-label col-md-4">
										<b>Product Type</b>
									</div>
									<div class="col-md-8">
										<label for="ProductTypeDescription" class="x-top-offset-5 x-font-normal"></label>
									</div>
								</div>
								<div class="form-group">
									<div class="control-label col-md-4">
										<b>Feature</b>
									</div>
									<div class="col-md-8">
										<label for="FeatureDescription" class="x-top-offset-5 x-font-normal"></label>
									</div>
								</div>
								<div class="form-group">
									<div class="control-label col-md-4">
										<b>Description</b>
									</div>
									<div class="col-md-8">
										<input class="k-textbox" id="edit_Description" name="edit_Description">
									</div>
								</div>
							</div>
						}
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 col-md-offset-4">
						<button id="EditBtn" class="btn btn-primary">Update</button>
						<button id="CancelEditBtn" class="btn btn-danger">Cancel</button>
					</div>
				</div>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>

@section Scripts {
	@Scripts.Render("~/Scripts/custom/Maintenance.FeatureToOption.js")
}
