﻿@{
	ViewBag.Title = "Data Maintenance";
}

<div>
	<div class="pull-left">
		<h3>@ViewBag.Title</h3>
	</div>
	<div class="pull-right">
		@*<br/>
		<p class="text-right"><a href="~/Content/images/LAR Maintenance 20160818.png" target="_blank" title="Opens ERD (Entity Relationship Diagram) image in a new window">Temp link... Data Relationship</a>
		</p>*@
	</div>
	<div class="clearfix"></div>
</div>
<hr/>

<div class="col-md-3">
	<h4>Product Data</h4>
	<ul>
		<li>@Html.ActionLink("Product Categories", "ProductCategory", "Maintenance")</li>
		<li>@Html.ActionLink("Product Types", "ProductType", "Maintenance")</li>
		<li>@Html.ActionLink("Product Sizes", "ProductSize", "Maintenance")</li>
		<li>@Html.ActionLink("Features", "Feature", "Maintenance")</li>
		<li>@Html.ActionLink("Feature Options", "FeatureToOption", "Maintenance")</li>
		<li>@Html.ActionLink("Option Costs", "ProductSizeToFeatureToOptionCost", "Maintenance")</li>
		<li>@Html.ActionLink("Variants", "Variant", "Maintenance")</li>
	</ul>
	<br/>
	<h4>Brand Data</h4>
	<ul>
		<li>@Html.ActionLink("Brand Owner", "BrandOwner", "Maintenance")</li>
		<li>@Html.ActionLink("Brand", "Brand", "Maintenance")</li>
	</ul>
</div>
<div class="col-md-3">
	<h4>Packaging Data</h4>
	<ul>
		<li>@Html.ActionLink("Pack Style", "PackStyle", "Maintenance")</li>
		<li>@Html.ActionLink("Container Types", "ContainerType", "Maintenance")</li>
		<li>@Html.ActionLink("Packaging Types", "PackagingType", "Maintenance")</li>
		<li>@Html.ActionLink("Annual Quantity Range", "QuantityRange", "Maintenance")</li>
		<li>@Html.ActionLink("Packaging Cost", "PackagingCost", "Maintenance")</li>
	</ul>
	<br />
	<br />
	<h4>Mfg Data</h4>
	<ul>
		<li>@Html.ActionLink("Mfg Costs", "MfgCost", "Maintenance")</li>
	</ul>
</div>