﻿
@model dpc.Web.ViewModel.PackagingCostViewModel

@{
	ViewBag.Title = "Packaging Costs";
}

<input type="hidden" id="hidden_PackagingCostId" />
<input type="hidden" id="hidden_ProductCategoryId" />
<input type="hidden" id="hidden_ProductTypeId" />
<input type="hidden" id="hidden_ProductSizeId" />
<input type="hidden" id="hidden_ContainerTypeId" />
<input type="hidden" id="hidden_PackagingTypeId" />
<input type="hidden" id="hidden_QuantityRangeId" />

<div id="Grid">
	<div class="col-md-12">
		<h3>List of @ViewBag.Title</h3>

		<p><a id="CreateBtn" class="btn btn-primary" href="#">Create</a></p>
	</div>

	<div class="col-md-12">
		@(Html.Kendo().Grid<dpc.Web.ViewModel.PackagingCostViewModel>()
			  .Name("grid")
			  .NoRecords()
			  .Columns(columns =>
			  {
				  columns.Command(command => command.Custom("edit").Click("EditItem"));
				  columns.Bound(x => x.ProductCategoryDescription);
				  columns.Bound(x => x.ProductTypeDescription);
				  columns.Bound(x => x.ProductSizeDescription);
				  columns.Bound(x => x.ContainerTypeDescription);
				  columns.Bound(x => x.PackagingTypeDescription);
				  columns.Bound(x => x.QuantityRangeItem);
				  columns.Bound(x => x.Cost).Format("{0:c4}").HtmlAttributes(new { style = "text-align:right" }).Filterable(false);
			  })
			  .Events(e =>
			  {
				  e.DataBound("OnGridItemsDataBound");
			  })
			  .Resizable(resize => resize.Columns(true))
			  .Sortable()
			  .Filterable()
			  .ToolBar(tools => tools.Excel())
			  .Excel(excel => excel
				  .AllPages(true)
				  .FileName("PackagingCostExport.xlsx")
			  )
			  .DataSource(dataSource => dataSource
				  .Ajax()
				  .Read(read => read.Action("PackagingCost_Read", "Maintenance"))
			  )
		)
		<br />
	</div>

	<div class="col-md-12">
		@Html.ActionLink("Back to Maintenance", "Index", "Maintenance")
	</div>
</div>

<div class="modal fade" id="modalInsert" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title text-left">Create Packaging Cost</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12 text-left">
						@using (Html.BeginForm("formInsert"))
						{
							<div class="form-horizontal">
								<div class="form-group">
									<div class="control-label col-md-4">
										<b>Product Category</b>
									</div>
									<div class="col-md-8">
										@(Html.Kendo().DropDownListFor(model => model.ProductCategoryId)
											  .HtmlAttributes(new { style = "width: 150px;", id = "ProductCategoryId", name = "ProductCategoryId" })
											  .OptionLabel("--Select--")
											  .DataTextField("Description")
											  .DataValueField("Value")
											  .DataSource(source =>
											  {
												  source.Read(read =>
												  {
													  read.Action("GetProductCategoryList", "Maintenance");
												  });
											  })
										)
									</div>
								</div>
								<div class="form-group">
									<div class="control-label col-md-4">
										<b>Product Type</b>
									</div>
									<div class="col-md-8">
										@(Html.Kendo().DropDownListFor(model => model.ProductTypeId)
											  .HtmlAttributes(new { style = "width: 150px;", id = "ProductTypeId", name = "ProductTypeId" })
											  .OptionLabel("--Select--")
											  .DataTextField("Description")
											  .DataValueField("Value")
											  .DataSource(source =>
											  {
												  source.Read(read =>
												  {
													  read.Action("GetProductTypeListByProductCategory", "Maintenance")
														  .Data("filterProductCategory");
												  })
													  .ServerFiltering(true);
											  })
											  .Enable(false)
											  .AutoBind(true)
											  .CascadeFrom("ProductCategoryId")
										)
										<script>
											function filterProductCategory() {
												return {
													ProductCategoryId: $("#ProductCategoryId").val()
												};
											}
										</script>
									</div>
								</div>
								<div class="form-group">
									<div class="control-label col-md-4">
										<b>Product Size</b>
									</div>
									<div class="col-md-8">
										@(Html.Kendo().DropDownListFor(model => model.ProductSizeId)
											  .HtmlAttributes(new { style = "width: 150px;", id = "ProductSizeId", name = "ProductSizeId" })
											  .OptionLabel("--Select--")
											  .DataTextField("Description")
											  .DataValueField("Value")
											  .DataSource(source =>
											  {
												  source.Read(read =>
												  {
													  read.Action("GetProductSizeListByProductType", "Maintenance")
														  .Data("filterProductSize");
												  })
													  .ServerFiltering(true);
											  })
											  .Enable(false)
											  .AutoBind(true)
											  .CascadeFrom("ProductTypeId")
										)
										<script>
											function filterProductSize() {
												return {
													ProductTypeId: $("#ProductTypeId").val()
												};
											}
										</script>
									</div>
								</div>
								<div class="form-group">
									<div class="control-label col-md-4">
										<b>Container Type</b>
									</div>
									<div class="col-md-8">
										@(Html.Kendo().DropDownListFor(model => model.ContainerTypeId)
											  .HtmlAttributes(new { style = "width: 150px;", id = "ContainerTypeId", name = "ContainerTypeId" })
											  .OptionLabel("--Select--")
											  .DataTextField("Description")
											  .DataValueField("Value")
											  .DataSource(source =>
											  {
												  source.Read(read =>
												  {
													  read.Action("GetContainerTypeList", "Maintenance");
												  })
													  .ServerFiltering(true);
											  })
											  .Enable(false)
											  .AutoBind(true)
											  .CascadeFrom("ProductSizeId")
										)
									</div>
								</div>
								<div class="form-group">
									<div class="control-label col-md-4">
										<b>Packaging Type</b>
									</div>
									<div class="col-md-8">
										@(Html.Kendo().DropDownListFor(model => model.PackagingTypeId)
											  .HtmlAttributes(new { style = "width: 150px;", id = "PackagingTypeId", name = "PackagingTypeId" })
											  .OptionLabel("--Select--")
											  .DataTextField("Description")
											  .DataValueField("Value")
											  .DataSource(source =>
											  {
												  source.Read(read =>
												  {
													  read.Action("GetPackagingTypeListByContainerType", "Maintenance")
														  .Data("filterPackagingType");
												  })
													  .ServerFiltering(true);
											  })
											  .Enable(false)
											  .AutoBind(true)
											  .CascadeFrom("ContainerTypeId")
										)
										<script>
											function filterPackagingType() {
												return {
													ContainerTypeId: $("#ContainerTypeId").val(),
													ProductSizeId: $("#ProductSizeId").val()
												};
											}
										</script>
									</div>
								</div>
								<div class="form-group">
									<div class="control-label col-md-4">
										<b>Quantity Range</b>
									</div>
									<div class="col-md-8">
										@(Html.Kendo().DropDownListFor(model => model.QuantityRangeId)
											  .HtmlAttributes(new { id = "QuantityRangeId", name = "QuantityRangeId" })
											  .OptionLabel("--Select--")
											  .DataTextField("Description")
											  .DataValueField("Value")
											  .DataSource(source =>
											  {
												  source.Read(read =>
												  {
													  read.Action("GetQuantityRangeListByContainerType", "Maintenance")
														  .Data("filterQuantityRange");
												  })
													  .ServerFiltering(true);
											  })
											  .Enable(false)
											  .AutoBind(true)
											  .CascadeFrom("PackagingTypeId")
										)
										<script>
											function filterQuantityRange() {
												return {
													ContainerTypeId: $("#ContainerTypeId").val()
												};
											}
										</script>
									</div>
								</div>
								<div class="form-group">
									<div class="control-label col-md-4">
										<b>Cost</b>
									</div>
									<div class="col-md-8">
										<input class="k-textbox" id="insert_Cost" name="insert_Cost">
									</div>
								</div>
							</div>
						}
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 col-md-offset-4">
						<button id="InsertBtn" class="btn btn-primary">Insert</button>
						<button id="CancelInsertBtn" class="btn btn-danger">Cancel</button>
					</div>
				</div>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title text-left">
					Edit Packaging Cost&nbsp;&nbsp;&nbsp;
					<a href="#">
						<i id="Delete" data-toggle="tooltip" title="Delete Packaging Cost" class="fa fa-trash-o"></i>
					</a>
				</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12 text-left">
						@using (Html.BeginForm("formEdit"))
						{
							<div class="form-horizontal">
								<div class="form-group">
									<div class="control-label col-md-4">
										<b>Product Category</b>
									</div>
									<div class="col-md-8">
										<label for="ProductCategoryDescription" class="x-top-offset-5 x-font-normal"></label>
									</div>
								</div>
								<div class="form-group">
									<div class="control-label col-md-4">
										<b>Product Type</b>
									</div>
									<div class="col-md-8">
										<label for="ProductTypeDescription" class="x-top-offset-5 x-font-normal"></label>
									</div>
								</div>
								<div class="form-group">
									<div class="control-label col-md-4">
										<b>Product Size</b>
									</div>
									<div class="col-md-8">
										<label for="ProductSizeDescription" class="x-top-offset-5 x-font-normal"></label>
									</div>
								</div>
								<div class="form-group">
									<div class="control-label col-md-4">
										<b>Container Type</b>
									</div>
									<div class="col-md-8">
										<label for="ContainerTypeDescription" class="x-top-offset-5 x-font-normal"></label>
									</div>
								</div>
								<div class="form-group">
									<div class="control-label col-md-4">
										<b>Packaging Type</b>
									</div>
									<div class="col-md-8">
										<label for="PackagingTypeDescription" class="x-top-offset-5 x-font-normal"></label>
									</div>
								</div>
								<div class="form-group">
									<div class="control-label col-md-4">
										<b>Quantity Range</b>
									</div>
									<div class="col-md-8">
										<label for="QuantityRangeItem" class="x-top-offset-5 x-font-normal"></label>
									</div>
								</div>
								<div class="form-group">
									<div class="control-label col-md-4">
										<b>Cost</b>
									</div>
									<div class="col-md-8">
										<input class="k-textbox" id="edit_Cost" name="edit_Cost">
									</div>
								</div>
							</div>
						}
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 col-md-offset-4">
						<button id="EditBtn" class="btn btn-primary">Update</button>
						<button id="CancelEditBtn" class="btn btn-danger">Cancel</button>
					</div>
				</div>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>

@section Scripts {
	@Scripts.Render("~/Scripts/custom/Maintenance.PackagingCost.js")
}

