﻿
@model dpc.Web.ViewModel.ProductCategoryViewModel

@{
    ViewBag.Title = "Product Category";
}

<input type="hidden" id="hidden_ProductCategoryId" />

<div id ="Grid">
    <div class="col-md-12">
        <h3>List of @ViewBag.Title</h3>

        <p><a id="CreateBtn" class="btn btn-primary" href="#">Create</a></p>
    </div>

    <div class="col-md-5">
        @(Html.Kendo().Grid<dpc.Web.ViewModel.ProductCategoryViewModel>()
              .Name("grid")
              .NoRecords()
              .Columns(columns =>
              {
                  columns.Command(command => command.Custom("edit").Click("EditItem"));
                  columns.Bound(x => x.Description);
                  columns.Bound(x => x.Abbreviation);
              })
              .Events(e =>
              {
                  e.DataBound("OnGridItemsDataBound");
              })
              .Resizable(resize => resize.Columns(true))
              .Sortable()
              .Filterable()
              .ToolBar(tools => tools.Excel())
              .Excel(excel => excel
                  .AllPages(true)
                  .FileName("ProductCategoryExport.xlsx")
              )
              .DataSource(dataSource => dataSource
                  .Ajax()
                  .Read(read => read.Action("ProductCategory_Read", "Maintenance"))
              )
        )
        <br />
    </div>

    <div class="col-md-12">
        @Html.ActionLink("Back to Maintenance", "Index", "Maintenance")
    </div>
</div>

<div class="modal fade" id="modalInsert" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-left">Create Product Category</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 text-left">
                        @using (Html.BeginForm("formInsert"))
                        {
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="control-label col-md-3">
                                        <b>Description</b>
                                    </div>
                                    <div class="col-md-9">
                                        <input class="k-textbox" id="insert_Description" name="insert_Description">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="control-label col-md-3">
                                        <b>Abbreviation</b>
                                    </div>
                                    <div class="col-md-9">
                                        <input class="k-textbox" id="insert_Abbreviation" name="insert_Abbreviation">
                                    </div>
                                </div>
                            </div>}
                    </div>
                </div>
                <div class="row">
					<div class="col-md-9 col-md-offset-3">
						<button id="InsertBtn" class="btn btn-primary">Insert</button>
						<button id="CancelInsertBtn" class="btn btn-danger">Cancel</button>
					</div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title text-left">
					Edit Product Category&nbsp;&nbsp;&nbsp;
					<a href="#">
						<i id="Delete" data-toggle="tooltip" title="Delete Product Category" class="fa fa-trash-o"></i>
					</a>
				</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 text-left">
                        @using (Html.BeginForm("formEdit"))
                        {
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="control-label col-md-3">
                                        <b>Description</b>
                                    </div>
                                    <div class="col-md-9">
                                        <input class="k-textbox" id="edit_Description" name="edit_Description">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="control-label col-md-3">
                                        <b>Abbreviation</b>
                                    </div>
                                    <div class="col-md-9">
                                        <input class="k-textbox" id="edit_Abbreviation" name="edit_Abbreviation">
                                    </div>
                                </div>
                            </div>}
                    </div>
                </div>
                <div class="row">
					<div class="col-md-9 col-md-offset-3">
						<button id="EditBtn" class="btn btn-primary">Update</button>
						<button id="CancelEditBtn" class="btn btn-danger">Cancel</button>
					</div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/custom/Maintenance.ProductCategory.js")
}

