﻿@using dpc.Common
@using Thinktecture.IdentityModel.Authorization

<!DOCTYPE html>
<html>
<head>
	@{
		var user = (System.Security.Claims.ClaimsIdentity) (User.Identity);
		ViewBag.WebApiUri = System.Web.Configuration.WebConfigurationManager.AppSettings["WebApiUri"];
	}

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>LAR - @ViewBag.Title</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	@Styles.Render("~/Content/kendo/css")

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/kendo")
	@Scripts.Render("~/bundles/scripts")

	<link rel="stylesheet" href="~/Content/font-awesome.min.css">

	@*Elmah client side error handler*@
	<script>
		window.onerror = function (errorText, url, lineNumber) {
			var msg = 'errorText=' + errorText + '&url=' + url + '&lineNumber=' + lineNumber;

			var xhr = new XMLHttpRequest();
			xhr.open('POST', '/api/ErrorApi', true);
			xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			xhr.send(msg);
		};
	</script>
</head>
<body>
	<div id="wrapper">
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">

					<a class="navbar-brand" href="/">
						<img src="~/Content/images/domtar_logo.png" id="logo" alt="Domtar Logo" title="Go to Home Page" data-toggle='tooltip' data-placement="bottom" />
					</a>

					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li>@Html.ActionLink("Home", "Index", "Home")</li>

						@if (ClaimsAuthorization.CheckAccess(ActionKey.Access, ResourceKey.ViewAdmin))
						{
							<li>@Html.ActionLink("Admin", "AdminPage", "Home")</li>
						}
						@if (ClaimsAuthorization.CheckAccess(ActionKey.Access, ResourceKey.ViewMaintenance))
						{
							<li>@Html.ActionLink("Maintenance", "Index", "Maintenance")</li>
						}
						@if (ClaimsAuthorization.CheckAccess(ActionKey.Access, ResourceKey.ViewReporting))
						{
							<li>@Html.ActionLink("Reporting", "Index", "Reporting")</li>
						}
					</ul>
					
					@Html.Partial("_LoginPartial")
				</div>
			</div>
		</div>

		<div class="container body-content">
			@RenderBody()
		</div>

		<div class="push"></div> <!-- Push footer to bottom of page -->
	</div> <!-- End wrapper -->

	<div id="footer">
		<div class="container">
			<span class="">&copy; @DateTime.Now.Year - Domtar LAR Application</span>
		</div>
	</div>

	<input id="WebApiUri" type="hidden" value="@ViewBag.WebApiUri" />

	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
