﻿@using Microsoft.AspNet.Identity

@{
	var DisplayName = string.Empty;
	var identity = (System.Security.Claims.ClaimsPrincipal)System.Threading.Thread.CurrentPrincipal;
	var userName = identity.Claims.Where(c => c.Type == "UserFullName").Select(c => c.Value).SingleOrDefault();

	if (!string.IsNullOrEmpty(userName))
	{
		if (userName.IndexOf(' ') > 0)
		{
			DisplayName = userName.Substring(0, userName.IndexOf(' '));
		}
	}
	else
	{
		DisplayName = "Missing Name!";
	}
}

@if (Request.IsAuthenticated)
{
	using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
	{
		@Html.AntiForgeryToken()

		<ul class="nav navbar-nav navbar-right">
			<li>
				@Html.ActionLink(DisplayName, "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
			</li>
			<li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
		</ul>
	}
}
else
{
	<ul class="nav navbar-nav navbar-right">
		<li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
	</ul>
}
