﻿@model dpc.Web.ViewModel.ProgramHeaderFinanacialsViewModel

<style>
    .x-TextBoxAsLabel {
        border: none;
        text-align: right;
        width: 55px;
    }
</style>


<!-- Table -->
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th style="text-align: right; padding-right: 20px;">Volume</th>
            <th>P&L</th>
            <th style="text-align: center; padding-right: 20px;">$</th>
            <th style="text-align: center; padding-right: 20px;">%</th>
            <th style="text-align: right; padding-right: 20px;">Per Piece</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Pieces</td>
            <td>@Html.TextBoxFor(model => model.Pieces, "{0:n0}", new { @class = "x-TextBoxAsLabel", @readonly = "readonly" })</td>
            <td>Net Sales</td>
            <td>@Html.TextBoxFor(model => model.NetSales, "{0:c0}", new { @class = "x-TextBoxAsLabel", @readonly = "readonly" })</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Bags</td>
            <td>@Html.TextBoxFor(model => model.Bags, "{0:n0}", new { @class = "x-TextBoxAsLabel", @readonly = "readonly" })</td>
            <td>Contribution Margin</td>
            <td>@Html.TextBoxFor(model => model.ContributionMargin, "{0:c0}", new { @class = "x-TextBoxAsLabel", @readonly = "readonly" })</td>
            <td>@Html.TextBoxFor(model => model.ContributionMarginPercent, "{0:p0}", new { @class = "x-TextBoxAsLabel", @readonly = "readonly" })</td>
            <td>@Html.TextBoxFor(model => model.ContributionMarginPerPiece, "{0:c2}", new { @class = "x-TextBoxAsLabel", @readonly = "readonly" })</td>
        </tr>
        <tr>
            <td>Cases</td>
            <td>@Html.TextBoxFor(model => model.Cases, "{0:n0}", new { @class = "x-TextBoxAsLabel", @readonly = "readonly" })</td>
            <td>Variable Margin</td>
            <td>@Html.TextBoxFor(model => model.VariableMargin, "{0:c0}", new { @class = "x-TextBoxAsLabel", @readonly = "readonly" })</td>
            <td>@Html.TextBoxFor(model => model.VariableMarginPercent, "{0:p0}", new { @class = "x-TextBoxAsLabel", @readonly = "readonly" })</td>
            <td>@Html.TextBoxFor(model => model.VariableMarginPerPiece, "{0:c2}", new { @class = "x-TextBoxAsLabel", @readonly = "readonly" })</td>
        </tr>
    </tbody>
</table>
