﻿@model dpc.Web.Models.ApplicationRole

@{
    ViewBag.Title = "Delete";
}

<h3>@ViewBag.Title</h3>

<h4>Are you sure you want to delete this?</h4>
<div>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" />&nbsp;&nbsp;
            @Html.ActionLink("Cancel", "Index", "ApplicationRoles", null, new { @class = "btn btn-danger" })
        </div>
    }
</div>
