﻿@model dpc.Web.Models.ApplicationRole

@{
    ViewBag.Title = "Details";
}

<h3>Details</h3>

<div>
    <h4>ApplicationRole</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
