﻿@model dpc.Web.Models.ChangePasswordViewModel

<h3>@ViewBag.Title</h3>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	@Html.AntiForgeryToken()
	<hr />
	<div class="col-md-6">
		@Html.ValidationSummary("", new { @class = "text-danger" })
		<div class="form-group">
			@Html.LabelFor(m => m.OldPassword, new { @class = "col-md-5 control-label" })
			<div class="col-md-6">
				@Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @autofocus = "autofocus" })
				<span toggle="#OldPassword" class="fa fa-eye x-password-icon toggle-password" title="Show/Hide Password" data-toggle='tooltip' data-placement="bottom"></span>
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.NewPassword, new { @class = "col-md-5 control-label" })
			<div class="col-md-6">
				@Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
				<span toggle="#NewPassword" class="fa fa-eye x-password-icon toggle-password" title="Show/Hide Password" data-toggle='tooltip' data-placement="bottom"></span>
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-5 control-label" })
			<div class="col-md-6">
				@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
				<span toggle="#ConfirmPassword" class="fa fa-eye x-password-icon toggle-password" title="Show/Hide Password" data-toggle='tooltip' data-placement="bottom"></span>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-5 col-md-6">
				<input type="submit" value="Change password" class="btn btn-primary" />
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="alert alert-info">
			<p><strong>Password requirements:</strong></p>
			<ul>
				<li>Min Length = @Model.PasswordRequiredLength</li>
				<li>Lowercase letter</li>
				<li>Uppercase letter</li>
				<li>Non Letter Or Digit (i.e. special character like !)</li>
				<li>Required to be changed at least every @Model.MaxDaysBeforePasswordChange days</li>
				<li>Cannot reuse last @Model.MaxReusePreviousPasswords passwords</li>
				<li>Login locked out for @Model.DefaultAccountLockoutTimeSpan minutes after @Model.MaxFailedAccessAttemptsBeforeLockout unsuccessful attempts</li>
			</ul>
		</div>
	</div>

}

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
