﻿@model System.Web.Mvc.HandleErrorInfo
@{
	ViewBag.Title = "Page Not Found";
	//ViewBag.Title = ViewBag.Title ?? "Internal Server Error";
}

<div class="list-header clearfix">
	<h3 class="text-danger">@ViewBag.Title</h3>
</div>
@if (Model != null && HttpContext.Current.IsDebuggingEnabled)
{
	<div>
		<p>
			<b>Exception:</b> @Model.Exception.Message<br />
			<b>Controller:</b> @Model.ControllerName<br />
			<b>Action:</b> @Model.ActionName
		</p>
		<div style="overflow:scroll">
			<pre>
					@Model.Exception.StackTrace
				</pre>
		</div>
	</div>
}