﻿@using dpc.Web.Models
@model LoginViewModel
@{
	ViewBag.Title = "Log in";
}

<h3>@ViewBag.Title</h3>
<div class="row">
	<div class="col-md-4">
		<section id="loginForm">
			@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
			{
				@Html.AntiForgeryToken()
				<hr />
				@Html.ValidationSummary(true, "", new { @class = "text-danger" })
				<div class="form-group">
					@Html.LabelFor(m => m.UserName, new { @class = "col-md-3 control-label" })
					<div class="col-md-6">
						@Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @autofocus = "autofocus", placeholder = "Hint: first initial last name" })
						@Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
					<div class="col-md-6">
						@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
						<span toggle="#Password" class="fa fa-eye x-password-icon toggle-password" title="Show/Hide Password" data-toggle='tooltip' data-placement="bottom"></span>
						@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-3 col-md-9">
						<div class="checkbox">
							@Html.CheckBoxFor(m => m.RememberMe)
							@Html.LabelFor(m => m.RememberMe)
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-3 col-md-9">
						<input type="submit" value="Log in" class="btn btn-primary" />
					</div>
				</div>
				<p>
					@Html.ActionLink("Forgot your password?", "ForgotPassword")
				</p>
			}
		</section>
	</div>

	@*Temporary test login id's*@
	@*<style>
			li {
				margin: 0 0 10px 0;
			}
		</style>
		<div class="col-md-8">
			<h4><b>Testing Authentication/Authorization Instructions...</b></h4>
			<hr />
			<div style="font-size: x-small">
				<p><b>Task 1: Use Existing Login's:</b></p>
				<ul>
					<li><b>Role = Admin... </b>Username = <b>ddavis</b>&nbsp;&nbsp;&nbsp;&nbsp;Password: <b>Ddavis1!</b></li>
					<li><b>Role = Maintenance... </b>Username = <b>dmeehan</b>&nbsp;&nbsp;&nbsp;&nbsp;Password: <b>Dmeehan1!</b></li>
				</ul>
				<br />
				<p><b>Task 2: Create/Edit/Delete/Lock/Unlock Login's (can't delete last Admin user):</b></p>
				<ul>
					<li>Login with Admin Role -> Select Admin Menu -> Create New (See UserName/Password req'd displayed)</li>
					<li>Login with Admin Role -> Select Admin Menu -> Edit user -> Add Role(s)</li>
					<li>Login with Admin Role -> Select Admin Menu -> Delete user</li>
					<li>Login with Admin Role -> Select Admin Menu -> Edit user -> Lock (See lock message at login)</li>
					<li>Login with Admin Role -> Select Admin Menu -> Edit user -> Unlock (can log in again)</li>
				</ul>
				<br />
				<p><b>Task 3: Test Login Access (5 attempts until lockout and 5 minute before unlock):</b></p>
				<ul>
					<li>Enter UserName -> Enter wrong password -> Display # of attempts til lockout</li>
					<li>Enter UserName -> Enter wrong password 5 times -> Display time left to unlock</li>
				</ul>
				<br />
				<p><b>Task 4: Test Change Password (can't re-use previous 5 password):</b></p>
				<ul>
					<li>Enter UserName/Password -> Select "Name" -> Change Password -> Enter new Password</li>
					<li>Enter UserName/Password -> Select "Name" -> Change Password -> Enter same Password</li>
				</ul>
				<br />
				<p><b>Task 5: Password expires after 90 days (also can't re-use previous 5 password):</b></p>
				<ul>
					<li>Contact Matt/Dave to set the date back 90 days on the UserName to test</li>
				</ul>
				<br />
				<p><b>Task 6: Forgot your password (can't re-use previous 5 password):</b></p>
				<ul>
					<li>Enter email used when creating new user -> get email -> click link -> reset password</li>
				</ul>
			</div>
		</div>*@
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}