﻿@model dpc.Web.Models.ResetPasswordViewModel
@{
	ViewBag.Title = "Reset password";
}

<h3>@ViewBag.Title</h3>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	@Html.AntiForgeryToken()
	<hr />
	<div class="col-md-6">
		@Html.ValidationSummary("", new { @class = "text-danger" })
		@Html.HiddenFor(model => model.Code)
		<div class="form-group">
			@Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
			<div class="col-md-6">
				@Html.TextBoxFor(m => m.Email, new { @class = "form-control", @autofocus = "autofocus" })
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
			<div class="col-md-6">
				@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
				<span toggle="#Password" class="fa fa-eye x-password-icon toggle-password" title="Show/Hide Password" data-toggle='tooltip' data-placement="bottom"></span>
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
			<div class="col-md-6">
				@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
				<span toggle="#ConfirmPassword" class="fa fa-eye x-password-icon toggle-password" title="Show/Hide Password" data-toggle='tooltip' data-placement="bottom"></span>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-4 col-md-6">
				<input type="submit" class="btn btn-primary" value="Reset" />
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="alert alert-info">
			<p><strong>Password requirements:</strong></p>
			<ul>
				<li>Min Length = @Model.PasswordRequiredLength</li>
				<li>Lowercase letter</li>
				<li>Uppercase letter</li>
				<li>Non Letter Or Digit (i.e. special character like !)</li>
				<li>Required to be changed at least every @Model.MaxDaysBeforePasswordChange days</li>
				<li>Cannot reuse last @Model.MaxReusePreviousPasswords passwords</li>
				<li>Login locked out for @Model.DefaultAccountLockoutTimeSpan minutes after @Model.MaxFailedAccessAttemptsBeforeLockout unsuccessful attempts</li>
			</ul>
		</div>
	</div>
}

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
