﻿@{
	ViewBag.Title = "Reset password confirmation";
}

<hgroup class="title">
	<h2>@ViewBag.Title</h2>
</hgroup>
<div>
	<p>
		<h4>Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</h4>
	</p>
</div>
