﻿@model dpc.Web.ViewModels.ApplicationUserViewModel

@{
    ViewBag.Title = "Create New User";
}

<h3>@ViewBag.Title</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        <div class="col-md-6">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @autofocus = "autofocus" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NewPassword, new { @class = "col-md-4 control-label" })
                <div class="col-md-6">
                    @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
	                <span toggle="#NewPassword" class="fa fa-eye x-password-icon toggle-password" title="Show/Hide Password" data-toggle='tooltip' data-placement="bottom"></span>
	                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword, new { @class = "col-md-4 control-label" })
                <div class="col-md-6">
                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
	                <span toggle="#ConfirmPassword" class="fa fa-eye x-password-icon toggle-password" title="Show/Hide Password" data-toggle='tooltip' data-placement="bottom"></span>
	                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <input type="submit" value="Create" class="btn btn-primary" />&nbsp;&nbsp;
                    @Html.ActionLink("Cancel", "Index", "ApplicationUsers", null, new { @class = "btn btn-danger" })
                </div>
            </div>
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

        </div>
        <div class="col-md-6">
            <div class="alert alert-info">
                <p><strong>Username requirements:</strong></p>
                <ul>
                    <li>Min Length = 3</li>
                    <li>Only use alphanumeric characters</li>
                    <li>Do not use spaces</li>
                    <li>Email must be Unique</li>
                </ul>
                <br />
                <p><strong>Password requirements:</strong></p>
                <ul>
                    <li>Min Length = @Model.PasswordRequiredLength</li>
                    <li>Lowercase letter</li>
                    <li>Uppercase letter</li>
                    <li>Non Letter Or Digit (i.e. special character like !)</li>
                </ul>
            </div>
        </div>
    </div>
}
