﻿@model dpc.Web.Models.ApplicationUser

@{
	ViewBag.Title = "Delete User";
}

<h3>@ViewBag.Title</h3>

<div>
	<h4>Are you sure you want to delete...</h4>
	<hr />
	<div class="form-horizontal">
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })

		<label class="control-label col-md-2">Name</label>
		<div class="col-md-10">
			<p class="form-control-static">@Model.FullName</p>
		</div>

		<label class="control-label col-md-2">User Name</label>
		<div class="col-md-10">
			<p class="form-control-static">@Model.UserName</p>
		</div>

		<label class="control-label col-md-2">Email</label>
		<div class="col-md-10">
			<p class="form-control-static">@Model.Email</p>
		</div>

	</div>

	@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()

	<div class="form-actions no-color">
		<input type="submit" value="Delete" class="btn btn-primary" />&nbsp;&nbsp;
		@Html.ActionLink("Cancel", "Index", "ApplicationUsers", null, new { @class = "btn btn-danger" })
	</div>
	}
</div>
