﻿@model dpc.Web.ViewModels.ApplicationUserViewModel

@{
    ViewBag.Title = "Edit User";
}

<h3>@ViewBag.Title</h3>

<div class="form-horizontal">
    <hr />

    <label class="control-label col-md-3">Name</label>
    <div class="col-md-9">
        <p class="form-control-static">@Model.Name</p>
    </div>

    <label class="control-label col-md-3">User Name</label>
    <div class="col-md-9">
        <p class="form-control-static">@Model.Username</p>
    </div>

    <label class="control-label col-md-3">Email</label>
    <div class="col-md-9">
        <p class="form-control-static">@Model.Email</p>
    </div>

    <label class="control-label col-md-3">Access Failed Attempts</label>
    <div class="col-md-9">
        <p class="form-control-static">@Model.AccessFailedCount</p>
    </div>

    @* STATUS *@
    <label class="control-label col-md-3">Status</label>

    @*Cannot Lockout*@
    @if (!Model.LockoutEnabled)
    {
        <div class="col-md-9">
            <p class="form-control-static">This user cannot be locked out of his or her account.</p>
        </div>
    }


    @*Unlocked*@
    @if (Model.LockoutEnabled && (Model.LockoutEndDateUtc <= DateTime.UtcNow || Model.LockoutEndDateUtc == null) && Model.AccessFailedCount < Model.MaxFailedAccessAttemptsBeforeLockout)
    {
        <div class="col-md-offset-3">
            @using (Html.BeginForm("LockAccount", "ApplicationUsers", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                @Html.HiddenFor(model => model.Id)
                <input type="submit" value="Account Unlocked - click to Lock" class="btn btn-success" />
}
        </div>
    }

    @*Locked - Exceeded Max Attempts*@
    @if (Model.LockoutEnabled && (Model.AccessFailedCount == Model.MaxFailedAccessAttemptsBeforeLockout))
    {
        <div class="col-md-offset-3">
            @using (Html.BeginForm("UnlockAccount", "ApplicationUsers", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                @Html.HiddenFor(model => model.Id)
                <input type="submit" value="Max Failed Logins - click to reset" class="btn btn-warning" />
}
        </div>
    }

    @*Locked - Inactivate User*@
    @if (Model.LockoutEnabled && (Model.LockoutEndDateUtc > DateTime.UtcNow && Model.AccessFailedCount < Model.MaxFailedAccessAttemptsBeforeLockout))
    {
        <div class="col-md-offset-3">
            @using (Html.BeginForm("UnlockAccount", "ApplicationUsers", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                @Html.HiddenFor(model => model.Id)
                <input type="submit" value="Account Locked - click to unlock" class="btn btn-danger" />
}
        </div>
    }

    <div>&nbsp;</div>

    @*Roles*@
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.Label("Roles", new { @class = "control-label col-sm-3" })
            <span class="col-sm-9">
                @foreach (var item in Model.RolesList)
				{
                    <input type="checkbox" name="RolesSelectedOnView" value="@item.Value" checked="@item.Selected" class="checkbox-inline" />
                    @Html.Label(item.Value, new { @class = "control-label" }) <br />
				}
            </span>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <input type="submit" value="Save" class="btn btn-primary" />&nbsp;&nbsp;
                @Html.ActionLink("Cancel", "Index", "ApplicationUsers", null, new { @class = "btn btn-danger" })
            </div>
        </div>
    }
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
