﻿@model IEnumerable<dpc.Web.ViewModels.ApplicationUserViewModel>

@{
    ViewBag.Title = "Manage Users";
}

<h3>@ViewBag.Title</h3>

<p>
    @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-primary" })
</p>

@(Html.Kendo().Grid(Model)
          .Name("grid")
          .Columns(columns =>
          {
              //columns.Template(x => { }).Width(4)
              //    .ClientTemplate("<a title='Edit' href='" + Url.Action("Edit", "ApplicationUsers") + "/#=Id#'><i class='fa fa-pencil fa-lg'></i></a>&nbsp;&nbsp;&nbsp;" +
              //                    "<a title='Delete' href='" + Url.Action("Delete", "ApplicationUsers") + "/#=Id#'><i class='fa fa-trash fa-lg'></i></a>");
              columns.Template(x => { }).Width(2)
                  .ClientTemplate("<a href='" + Url.Action("Edit", "ApplicationUsers") + "/#=Id#'><i class='fa fa-pencil fa-lg'></i></a>");
              columns.Bound(x => x.Name).Width(10);
              columns.Bound(x => x.Email).Width(20);
              columns.Bound(x => x.Username).Width(10).HtmlAttributes(new { style = "text-align:center" });
              columns.Bound(x => x.AccessFailedCount).Width(10).HtmlAttributes(new { style = "text-align:center" });
              columns.Bound(x => x.LockedOut).Width(10).HtmlAttributes(new { style = "text-align:center" });
              //columns.Bound(x => x.LockedOut).ClientTemplate("<input type='checkbox' disabled #= LockedOut ? checked='checked' :'' # />").Width(10).HtmlAttributes(new { style = "text-align:center" });

              //foreach (var role in Model.Roles.UserId)
              //{
              //    columns.Bound(role).ClientTemplate("<input type='checkbox' disabled #= role ? checked='checked' :'' # />").Width(10).HtmlAttributes(new { style = "text-align:center" });

              //}

          })
          .Resizable(resize => resize.Columns(true))
          .Sortable()
          .Scrollable(s => s.Height("auto"))
          .Filterable()
          .ToolBar(tools => tools.Excel())
          .Excel(excel => excel
              .AllPages(true)
              .FileName("Users.xlsx")
          )
          .DataSource(dataSource => dataSource
              .Ajax()
              .ServerOperation(false)
              .PageSize(100)
              .Sort(sort => sort.Add("LastName"))
          )
)
<br />
<div>
    @Html.ActionLink("Back to Admin Page", "AdminPage", "Home")
</div>