﻿@{
    ViewBag.Title = "Admin Screen";
}
<div>
    <div class="pull-left">
        <h3>@ViewBag.Title</h3>
    </div>
    <div class="pull-right">
        <br />
        <p class="text-right">
            @*<a href="~/Content/images/LAR Identity 20160902.png" target="_blank" title="Opens ERD (Entity Relationship Diagram) image in a new window">Temp link... Data Relationship</a>*@
        </p>
    </div>
    <div class="clearfix"></div>
</div>

<br />
<p>@Html.ActionLink("Manage Users", "Index", "ApplicationUsers")</p>

<p><a href="~/Content/images/LAR Maintenance 20170302.png" target="_blank" title="Opens ERD (Entity Relationship Diagram) image in a new window">Maintenance Data Relationship</a><br />
<p><a href="~/Content/images/LAR Program 20170615.png" target="_blank" title="Opens ERD (Entity Relationship Diagram) image in a new window">Program Data Relationship</a><br />
<p>
	<a href="~/Content/images/LAR Identity 20160902.png" target="_blank" title="Opens ERD (Entity Relationship Diagram) image in a new window">User Data Relationship</a><br />

	@*REMOVED - Can't manage roles without making code changes*@
	@*<br />
		<p>@Html.ActionLink("Click Here to Manage Roles", "Index", "ApplicationRoles")</p>*@

	@*<br />
		<hr />
		<h4>Testing authorization within page section, you are...</h4>
		@if (@ViewBag.CanShowFinancialSection)
		{
			<h4 class="text-info"><b>Authorized</b> to Display Financials</h4>
		}
		else
		{
			<h4 class="text-danger"><b>NOT </b> Authorized to Display Financials </h4>
		}*@
