﻿@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center" style="margin-top: 20px">
	<br />
	<img src="~/Content/images/domtar_logo.png" />
	<br />
	<br />
	<h1>LAR Tool</h1>
	<h2>(Launch Approval Routing)</h2>
	<br />
</div>

<div>
	@if (ViewBag.isSales)
	{
		<div class="row text-center">
			<h2>Select a Product</h2>
		</div>
		<div class="row">
			<div class="col-md-5 col-md-offset-1 text-center">
				<h2>Baby / Infant</h2>
				<p>
					Comfort and dryness from the very start.
				</p>
				<p><a class="btn btn-default" href="~/Program">Go &raquo;</a>
				</p>
			</div>
			<div class="col-md-6 text-center">
				<h2>Adult Incontinence</h2>
				<p>
					Confidence. Dignity. Freedom.
				</p>
				<p><img src="~/Content/images/under_construction.png" width="40" title="Under Construction" data-toggle='tooltip' data-placement="bottom"/>
				</p>

			</div>
		</div>
	}
</div>